<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="your keywords">
    <meta name="author" content="author,email address">
    <meta name="viewport"
          content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>例子</title>
</head>
<body>

<h1>这是spring-web的一个例子</h1>


#if($param1)
<h3>请求的第一个参数是$!{param1}</h3>
<h3>请求的第二个 参数是$!{param2}</h3>

#end



</body>
</html>